/* =======================================
 * Project 2 - Responsive Layout
 * Author: Chris Howell
 * Date: 04/26/2018
 * =======================================
*/

img {
    max-width: 100%;
}
body {
    background-color: #eee;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

a:link,
a:visited {
    color: #333;
    text-decoration: none;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.2em;
}

section{
    text-align: center;
}

section h2,
section h3 {
    padding: 15px 0;
    font-weight: bold;
}
.p-l {
    float: left;

}
.p-r {
    float: right;
}
/* ========================
 * Header Area
 * ========================= 
*/

.header-content p,
.header-content img {
    vertical-align: top;
}
.header-content div:first-child {
    padding: 10px;
}
.author a,
.nav {
    display: block;
    list-style: none;
    text-align: center;
}
#primary-nav {
    background-color: #333;
    padding: 15px 10px;
}
#secondary-nav {
    background-color: #8cd6e2;
    color: #333;
    padding: 10px 0;
}
#secondary-nav .container {
    border-top: solid 2px #ddd;
}
.author a,
.nav > li a {
    padding: 10px 15px;
    display: block;
}
#primary-nav .author a,
#primary-nav .nav > li a {
    color: #eee;
}

/* ========================
 * Content Area
 * ========================= 
*/

main {
    background-color: #fff;
}
.main-content,
.alt-content{
    padding: 20px 10px;
}
.alt-content {
    background-color: #8cd6e2;
    min-height: 250px;
}
.main-content div {
    text-align: center;
}
.col {
    display: block;
    padding: 10px 5px;
    width: 97%;
    margin: 0 auto;
    text-align: center;
}

.profile-image,
.profile-about {
    width: 100%;
    text-align: center;
}
.contact-info {
    margin: 10px 0;
    padding: 10px 15px;
}
.contact-info span {
    margin: 0 10px;
    font-weight: bold;
}

/* ========================
 * Media Queries
 * ========================= 
*/
@media (min-width: 769px) {
    .container {
        margin: 0 auto;
        max-width: 1150px;
        width: 89%;
    }
    .nav,
    .nav li {
        float: left;
    }
    .nav {
        float: right;
    }
    .author {
        float: left;
    }

    .col {
        display: inline-block;
        padding: 10px 5px;
        vertical-align: top;
        width: 48%;
        text-align: left;
    }
    .profile-about {
        width: 50%;
    }
    .profile-image {
        width: 45%;
    }
    .profile-about,
    .profile-image {
        text-align: left;
    }

    .header-content div:first-child {
        padding: 20px 0;
    }
}

@media (min-width: 1025px){
    .col {
        display: inline-block;
        padding: 10px 5px;
        vertical-align: top;
        width: 31%;
    }
    .profile-about {
        width: 60%;
    }
    .profile-image {
        width: 35%;
    }

}

/* ========================
 * Clearfix hack
 * ========================= 
*/
.cf::after {
    content: "";
    display: table;
    clear: both;
}